{% extends "layout.html" %}

{% block style %}
    <link href="/static/css/index.css" rel="stylesheet"/>
    <script src="/static/js/index.js"></script>
{% endblock %}

{% block title %}
    Welcome, {{ firstName }}!
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4 responsive"><p id="headtext">Welcome To Bookshelf!</p></h1>
        <p class="lead">Bookshelf is a free easy-to-use website for trading second-hand books.</p>
        <hr class="my-4">
        <p>Your new book is one click away!</p>
        <a class="btn btn-outline-light btn-lg" href="/register" role="button"><span class="button-font">Register Now!</span></a>
    </div>
{% endblock %}