{% extends "layout.html" %}

{% block style %}
	<link href="/static/css/terms.css" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Terms and Conditions
{% endblock %}

{% block body %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">You must be at least 16 years to make an account on Bookshelf.</li>
        <li class="list-group-item">Javascript must be allowed in order to use this website.</li>
        <li class="list-group-item">Cancelling a meetup without at least a 6 hour notice is not allowed.</li>
        <li class="list-group-item">If you think that a book that is listed on the website is reported stolen, please contact our customer support.</li>
        <li class="list-group-item">In case of any mistakes with your your Bookshelf account info, books and/or the service, don't hesitate to contact us.</li>
        <li class="list-group-item">All communications are done through the E-mail entered at registeration.</li>
        <li class="list-group-item">Booksehlf is only for the exchange of book, otherwise, the seller will recieve a permenant ban.</li>
        <li class="list-group-item">Please be respectful, profanity isn't allowed, those who don't oblige will recieve a permenant ban.</li>
    </ul>
{% endblock %}